

<h1><%= title %></h1>
<div id="piano">
    <div id="whitekeys">
        <div class="wkey" id ="A" onclick="soundsWhite[0].playclip()"></div>
        <div class="wkey" id ="S" onclick="soundsWhite[1].playclip()"></div>
        <div class="wkey" id ="D" onclick="soundsWhite[2].playclip()"></div>
        <div class="wkey" id ="F" onclick="soundsWhite[3].playclip()"></div>
        <div class="wkey" id ="G" onclick="soundsWhite[4].playclip()"></div>
        <div class="wkey" id ="H" onclick="soundsWhite[5].playclip()"></div>
        <div class="wkey" id ="J" onclick="soundsWhite[6].playclip()"></div>
        <div class="wkey" id ="K" onclick="soundsWhite[7].playclip()"></div>
        <div class="wkey" id ="L" onclick="soundsWhite[8].playclip()"></div>
        <div class="wkey" id =";" onclick="soundsWhite[9].playclip()"></div>
    </div>

    <div id="blackkeys">
        <div class="blacks2">
            <div class="bkey" id ="w" onclick="soundsBlack[0].playclip()"></div>
            <div class="bkey" id ="e" onclick="soundsBlack[1].playclip()"></div>
        </div>
        
        <div class="blacks3">
            <div class="bkey" id ="t" onclick="soundsBlack[2].playclip()"></div>
            <div class="bkey" id ="y" onclick="soundsBlack[3].playclip()"></div>
            <div class="bkey" id ="u" onclick="soundsBlack[4].playclip()"></div>
        </div>
        
        <div class="blacks2">
            <div class="bkey" id ="o" onclick="soundsBlack[5].playclip()"></div>
            <div class="bkey" id ="p" onclick="soundsBlack[6].playclip()"></div>
        </div>
    </div>
</div>