

<h1><%= title %></h1>
<div id="piano">
    <div id="whitekeys">
        <div class="wkey" id="c4" onclick="soundsWhite[0].playclip()"></div>
        <div class="wkey" id="d4" onclick="soundsWhite[1].playclip()"></div>
        <div class="wkey" id="e4" onclick="soundsWhite[2].playclip()"></div>
        <div class="wkey" id="f4" onclick="soundsWhite[3].playclip()"></div>
        <div class="wkey" id="g4" onclick="soundsWhite[4].playclip()"></div>
        <div class="wkey" id="a4" onclick="soundsWhite[5].playclip()"></div>
        <div class="wkey" id="b4" onclick="soundsWhite[6].playclip()"></div>
        <div class="wkey" id="c5" onclick="soundsWhite[7].playclip()"></div>
        <div class="wkey" id="d5" onclick="soundsWhite[8].playclip()"></div>
        <div class="wkey" id="e5" onclick="soundsWhite[9].playclip()"></div>
    </div>

    <div id="blackkeys">
        <div class="blacks2">
            <div class="bkey" id="cs4" onclick="soundsBlack[0].playclip()"></div>
            <div class="bkey" id="ds4" onclick="soundsBlack[1].playclip()"></div>
        </div>
        
        <div class="blacks3">
            <div class="bkey" id="fs4" onclick="soundsBlack[2].playclip()"></div>
            <div class="bkey" id="gs4" onclick="soundsBlack[3].playclip()"></div>
            <div class="bkey" id="as4" onclick="soundsBlack[4].playclip()"></div>
        </div>
        
        <div class="blacks2">
            <div class="bkey" id="cs5" onclick="soundsBlack[5].playclip()"></div>
            <div class="bkey" id="ds5" onclick="soundsBlack[6].playclip()"></div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/javascripts/keyevents.js"></script>
<script type="text/javascript" src="/javascripts/piano.js"></script>
