

<h1><%= title %></h1>

<div id="piano">
    <div id="whitekeys">
        <div class="wkey" id ="A" ></div>
        <div class="wkey" id ="S" ></div>
        <div class="wkey" id ="D" ></div>
        <div class="wkey" id ="F" ></div>
        <div class="wkey" id ="G" ></div>
        <div class="wkey" id ="H" ></div>
        <div class="wkey" id ="J" ></div>
        <div class="wkey" id ="K" ></div>
        <div class="wkey" id ="L" ></div>
        <div class="wkey" id =";" ></div>
    </div>

    <div id="blackkeys">
        <div class="blacks2">
            <div class="bkey" id ="w" ></div>
            <div class="bkey" id ="e" ></div>
        </div>
        
        <div class="blacks3">
            <div class="bkey" id ="t" ></div>
            <div class="bkey" id ="y" ></div>
            <div class="bkey" id ="u" ></div>
        </div>
        
        <div class="blacks2">
            <div class="bkey" id ="o" ></div>
            <div class="bkey" id ="p" ></div>
        </div>
    </div>
</div>