

<h1><%= title %></h1>

<div id="playmode">
	<input type="radio" id="multiplayer" name="playmode" checked="checked"/><label for="multiplayer">Multiplayer</label>
	<input type="radio" id="singleplayer" name="playmode" /><label for="singleplayer">Singleplayer</label>
</div>

<%- partial('piano') %>

<script type="text/javascript" src="/javascripts/keyevents.js"></script>
