body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#piano{
  width: 780px;
  height: 400px;
  margin-left: 250px;
}

.wkey{
  background-color:white;
  width:70px;
  height:400px;
  border:1px solid black;
  float:left;
  border-left:3px outset;
  border-right:3px outset;
  border-bottom:3px outset;
}

.wkey:hover, .wkey.keydown{
  background-color:#c1c0c0;
}

.wkey.remotepressed{
  background-color:#FFCCFF;

}

.bkey{
  background-color:black;
  width:40px;
  height:250px;
  float:left;
  border-left:3px outset;
  border-right:3px outset;
  border-bottom:3px outset;
  border-left:3px outset;
  border-right:3px outset;
  border-bottom:3px outset;
  margin-right:30px;
}

.bkey:hover, .bkey.keydown{
  background-color:#3d3b3b;
}

.bkey.remotepressed{
  background-color:#660000;
}

#blackkeys{
  position:absolute;
  width:780px;
}

.blacks2{
  width:172px;
  padding-left:50px;
  float:left;
}

.blacks3{
  padding-left:50px;
  width:250px;
  float:left;
  float:left;
}


#playmode {
width: 150px;
color: maroon;
font-size: 20px;
margin-top: -370px;
position: absolute;
margin-left: 10px;
}
